[Unit]
Description=Ask user info at boottime
After=multi-user.target
Before=lightdm.service

[Service]
Type=oneshot
ExecStart=/home/user/getlogin.sh
TimeoutStartSec=0
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
RequiredBy=NetworkManager.service
