[Unit]
Description=Ask user info at boottime
After=cryptsetup.target
Before=basic.target
[Service]
Type=oneshot
TTYPath=/dev/tty13
ExecStartPre=/usr/bin/chvt 13
ExecStart=/usr/local/bin/k3s.sh
ExecStartPost=/usr/bin/chvt 1
TimeoutStartSec=0
StandardInput=tty
TTYVHanghup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
