[Unit]
Description=Ask user info at boottime
After=NetworkManager.service
Before=lightdm.service

[Service]
Type=oneshot
TTYPath=/dev/tty13
ExecStartPre=/usr/bin/chvt 13
ExecStart=/home/user/getlogin.sh
ExecStartPost=/usr/bin/chvt 1
TimeoutStartSec=0
StandardInput=tty
TTYVHanghup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
RequiredBy=NetworkManager.service
